<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="top-20">
    <ion-col size="12" class="container">
      <img src="assets/avatars/{{user.avatar}}" class="img-avatar" />
    </ion-col>
  </ion-row>

  <ion-row class="top-20">
    <ion-col size="12" class="container">
      <ion-label>
        <h1>Actualizar perfil</h1>
      </ion-label>
    </ion-col>
  </ion-row>

  <app-avatar-selector
    (avatarSelected)="avatarSelected($event)"
    [currentAvatar]="user.avatar"
  ></app-avatar-selector>

  <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input
              formControlName="email"
              name="email"
              type="email"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input
              formControlName="name"
              name="nombre"
              type="text"
              required
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="container">
        <ion-button type="submit" color="tertiary" shape="round">
          Actualizar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
