.main-slide,
.main-slide ion-slide {
  height: 100%;
  width: 100%;
}

img {
  width: 120px;
}

.pick-avatar {
  opacity: 0.3;
  width: 80px;
}

.pick-avatar-selected {
  opacity: 1 !important;
  transition: opacity 0.5s linear;
}
