.post {
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;

  &__slide-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
  }
}
