<ng-container *ngIf="post">
  <div class="post">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          src="/assets/avatars/{{ post.user.avatar }}"
          [alt]="post.user"
          loading="lazy"
        />
      </ion-avatar>

      <ion-label>
        <h3>{{ post.user.name }}</h3>
        <h5>{{ post.user.email }}</h5>
      </ion-label>
    </ion-item>

    <ion-slides pager="true">
      <ion-slide
        class="post__slide-image"
        [ngStyle]="{ 'background-image': 'url(' + img1 + ')' }"
      >
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Mapa -->

  <app-map *ngIf="post.coords" [coords]="post.coords"></app-map>

  <ion-item lines="none">
    <ion-label text-wrap>{{ post.message }}</ion-label>
  </ion-item>
</ng-container>
